body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

#peter {
    color: orange;
}

.flexible {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 10%;
}

.half-width img {
    width: 70%;
}

.button1 {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: 700;
    color: white;

}

.top {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-div {
    padding-left: 5%;
    width: 50%;
    padding-right: 10%;

}

.dream-div img {
    width: 70%;
}

.dream {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#inline {
    display: flex;
}

.boxitem {
    width: 50%;
    margin: 5%;
    box-shadow: 15px 15px 100px gray;
}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

footer {
    text-align: center;
}

#color1 {
    border-left: 7px solid tomato;
}

#color2 {
    border-left: 7px solid blue;
}